<html>
  <body>
    <div id="battle_needed">
      <form id="host_battle" method="POST" action='#'>
        <input type="text" name="team_name" placeholder="Team name">
        <input type="submit" value="Host">
      </form>

      <form id="join_battle" method="POST" action='#'>
        <input type="text" name="battle_ref" placeholder="Battle reference">
        <input type="text" name="team_name" placeholder="Team name">
        <input type="submit" value="Join">
      </form>
    </div>

    <div id="waiting_for_opponent">
      <div>Waiting for an opponent, share this code to a friend and ask him to join the battle</div>
      <div id="battle_ref"></div>
    </div>

    <div id="battle">
      <div>Battle Started</div>
      <div id="battle_data"></div>

      <form id="register_a_move" method="POST" action='#'>
        <select name="move">
        </select>
        <input type="submit" value="Confirm move">
      </form>

      <form id="register_a_pokemon_change" method="POST" action='#'>
        <select name="pokemon">
        </select>
        <input type="submit" value="Send Pokemon">
      </form>

      <div id="battle_events"></div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        api_url = 'http://127.0.0.1:5000'
        var socket = io('ws://127.0.0.1:5000/')
        socket.on('move', function(msg) {
          show_event(`${msg.pokemon} used ${msg.move}`)
        })
        socket.on('pokemon_changed', function(msg) {
          show_event(`${msg.player} sent out ${msg.pokemon_nickname}`)
        })
        socket.on('battle_ready', function(msg) {
          show_battle(msg.battle_ref)
          show_event('Battle will start')
          start_turn()
        })
        socket.on('pokemon_fainted', function(msg) {
          show_event(`${msg.pokemon} fainted!`)
        })
        socket.on('battle_finished', function(msg) {
          refresh_battle()
          if (msg.winner == window.player) {
              show_event('You win')
          } else {
              show_event('You lost')
          }
        })
        socket.on('turn_ready', function(msg) {
          refresh_battle()
          start_turn()
          show_event('Turn is ready')
        })

        function show_event (msg) {
          $('#battle_events').append(`<p>${msg}</p>`)
        }

        function hide_all () {
          $('#battle_needed').hide()
          $('#waiting_for_opponent').hide()
          $('#battle').hide()
        }

        function show_battle_needed () {
          hide_all()
          $('#battle_needed').show()
        }

        function show_waiting_for_opponent (battle_ref) {
          hide_all()
          $('#waiting_for_opponent #battle_ref').text(battle_ref)
          $('#waiting_for_opponent').show()
        }

        function show_battle (battle_ref) {
          hide_all()
          refresh_battle()
          $('#battle').show()
        }

        function join_battle_socket (battle_ref) {
          socket.emit('join', {room: battle_ref})
        }

        function host_battle (team_name) {
          fetch(`${api_url}/host_battle`, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({team_name})
          })
          .then(res => res.json())
          .then(data => {
            window.battle_ref = data.battle_ref
            window.player = 'host'
            join_battle_socket(data.battle_ref)
            show_waiting_for_opponent(data.battle_ref)
          })
        }

        function join_battle (battle_ref, team_name) {
          fetch(`${api_url}/join_battle`, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({battle_ref, team_name})
          })
          .then(res => res.json())
          .then(data => {
            join_battle_socket(battle_ref)
            show_battle(battle_ref)
            start_turn(battle_ref)
          })
        }

        function register_a_move (battle_ref, move_name) {
          fetch(`${api_url}/register_a_move`, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({battle_ref, move_name, player: window.player})
          })
          .then(res => res.json())
          .then(data => {
            $('#register_a_move').hide()
            $('#register_a_pokemon_change').hide()
          })
        }

        function register_a_pokemon_change (battle_ref, pokemon_nickname) {
          fetch(`${api_url}/register_a_pokemon_change`, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({battle_ref, pokemon_nickname, player: window.player})
          })
          .then(res => res.json())
          .then(data => {
            $('#register_a_move').hide()
            $('#register_a_pokemon_change').hide()
          })
        }

        function start_turn () {
          refresh_battle()
          show_moves()
        }

        function refresh_battle () {
          fetch(`${api_url}/battle/${window.battle_ref}`)
          .then(res => res.json())
          .then(data => $('#battle_data').text(JSON.stringify(data)))
        }

        function show_moves () {
          $('#register_a_move').hide()
          $('select[name="move"]').html('')
          $('#register_a_pokemon_change').hide()
          $('select[name="pokemon"]').html('')
          fetch(`${api_url}/battle/${window.battle_ref}/actions?player=${window.player}`)
          .then(res => res.json())
          .then(data => {
            data.moves.forEach((move) => {
              $('select[name="move"]').append(`<option value="${move}">${move}</option>`)
              $('#register_a_move').show()
            })
            data.pokemons.forEach((pokemon) => {
              $('select[name="pokemon"]').append(`<option value="${pokemon}">${pokemon}</option>`)
              $('#register_a_pokemon_change').show()
            })
          })
        }

        $('form#host_battle').submit(() => {
          host_battle($('#host_battle input[name="team_name"]').val())
          return false
        })

        $('form#register_a_move').submit(() => {
          register_a_move(
            battle_ref,
            $('#register_a_move select[name="move"]').val()
          )
          return false
        })

        $('form#register_a_pokemon_change').submit(() => {
          register_a_pokemon_change(
            battle_ref,
            $('#register_a_pokemon_change select[name="pokemon"]').val()
          )
          return false
        })

        $('form#join_battle').submit(() => {
          window.battle_ref = $('#join_battle input[name="battle_ref"]').val(),
          window.player = 'opponent'
          join_battle(
            window.battle_ref,
            $('#join_battle input[name="team_name"]').val()
          )
          return false
        })

        show_battle_needed()
    })
    </script>
  </body>
</html>
